body{
    text-align: center;
    background-color: rgba(103, 102, 101, 0.173);
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 3rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: rgb(238, 56, 56);
}
.yellow{
    background-color: rgb(202, 242, 3);
}
.green{
    background-color: rgb(13, 200, 32);
}
.purple{
    background-color: rgb(236, 16, 210);
}

.flash{
    background-color: white;
}

.userflash{
    background-color: rgb(24, 70, 222);
}