#heading1{
    text-align: center;
}

.container{
    height: 400px;
    width:  600px;
    background-color: antiquewhite;
    display: grid;
    /* grid-template-rows: 100px 100px 100px 100px ;
    grid-template-columns:  auto auto auto ; */
    /* 
    grid-template-columns: repeat(3, 1fr);
    */

    /* 
    
    */
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: repeat(5, 1fr);
    /* row-gap: 10px; */

    /* 
    grid-gap: 10px;
    
    */
    grid-gap: 10px 30px;
}

.item{
    /* height: 70px;
    width: 50px; */
    background-color: rgb(10, 247, 22);
    border: 1px solid black;
    text-align: center;
    
}
.one{
    /* grid-column-start: 1;
    grid-column-end: 3; */


    /* grid-column: 1/4; */
    grid-column: 2/span 2;
}